@{
    ViewData["Title"] = "HiLo";
}

<div class="container">
  <div class="row align-items-center">
    <div class="col-md-8">
      <h1>Welcome to the HiLo Game</h1>
      <p>Just click in the below button to join a game</p>
    </div>
  </div>
  <div class="text-md-center" style="padding-top:50px">
      <a href="@Url.Action("Join", "Game")" class="btn btn-primary">Join the game!</a>
    </div>
</div>
